body {
    margin: 0;
    font-family: 'Arial', 'Helvetica', sans-serif;
    height: 100vh;
    background-image: url('./fundos/cardapio.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /* Fixa a imagem de fundo para que o conteúdo role sobre ela */
    background-size: cover;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    position: absolute; /* Posição absoluta para fixar o menu */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para legibilidade */
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000; /* Garante que o menu esteja acima da imagem de fundo */
}



footer p {
    margin-top: 20px;
    font-weight: bold;
    color: #ff6600;
}
